.modal-header{
  border: 0;
  padding-bottom: 0;
}
.modal-title{
  font-size: 24px;
  font-weight: bold;
}
.modal-footer{
  padding-top: 16px;
  padding-bottom: 16px;
}
.form-check-label{
  margin-left: 4px;
}
.open{
  display: inline-block;
}
.close{
  display: none;
}
.collapsed .open{
  display: none;
}
.collapsed .close{
  display: inline-block;
}